
#ip_addr{
  box-shadow: none;
}

#security_criteria{
  box-shadow:none;
}
#analyst_type{
  box-shadow:none;
}
#analyst_subtype{
  box-shadow:none;
}
#analyst_display_name_short{
  box-shadow:none;
}
#analyst_display_name_long{
  box-shadow:none;
}
#analyst_data_description{
  box-shadow:none;
}
#analyst_status{
  width: 100%;
}
#analyst_confidence{
  box-shadow:none;
}
#host_name{
  box-shadow:none;
}
#domain_name{
  box-shadow:none;
}
#mytable > tbody > tr{
  background-color: #fff;
}
