#net-blocks-form {margin:20px;}
#netblockstable tbody tr input[type="text"] {display:none;}
#netblockstable tbody tr.shown span {display:none;}
#netblockstable tbody tr.shown input[type="text"] {display:block;}
#netblockstable tbody tr .button.is-loading {opacity:0.2;}
#netblockstable tbody tr td table tr:hover {background:#666;}

#mytable {width:100%; table-layout:fixed;}
table tbody td {word-wrap:break-word; vertical-align:top;}

.data-value{
  width: 20pt;
}

.finding-row:hover{
  background-color: ;
}

#mytable > tbody > tr{
  border-top: 1px solid #F6F6F6;
}
#mytable > thead > tr{
  border-bottom: 1pt solid #F2F2F2;
}

#mytable > tbody > tr > td:nth-child(9) > i.fa.fa-edit.fa-2x.finding-action{
  margin-top: .15em;
  margin-right: .2em;
}
#mytable > tbody > tr > td:nth-child(9) > i.fa.fa-trash-o.fa-2x.finding-action{

  margin-left: .2em;
}
